<div class="container">
  <div class="wrap-contact100">
    <div class="headerRow row">
      <div class="logoWrapper">
        <img class="logo float-end" src='{{contactData ? contactData.image : "/assets/images/contact.png"}}'>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h2 class="text-center">{{contactData ? contactData.full_name : ""}}</h2>
        <h6 class="text-center">{{contactData ? contactData.email : ""}}</h6>
      </div>
    </div>
    <br>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact100-form validate-form">
      <div class="row">
        <div class="col text-center">

          <button type="submit" class="submit btn">Save</button>
          <button type="button" class="btn {{noDeleteButton? 'display-none': 'display-inline'}}" (click)="onDelete()">Delete</button>
          <button routerLink="/contacts" class="btn btn-primary">Back to Contact List</button>
        </div>
      </div>
      <div class="row justify-content-evenly pb-2">
        <ng-container *ngFor="let field of formFields">
          <div class="">
            <div class="row">
              <div class="form-group">
                <label class="label-input100" [for]="field.key" class="form-label">{{ field.label }}:</label>
                <input class="" [type]="field.type" class="form-control wrap-input100 input100 validate-input" [id]="field.key" [formControlName]="field.key"
                       [ngClass]="{ 'is-invalid': contactForm.get(field.key)?.invalid && contactForm.get(field.key)?.touched }">
                <div class="invalid-feedback" *ngIf="contactForm.get(field.key)?.invalid && contactForm.get(field.key)?.touched">
                  {{ field.label }} is required
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>
